* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: url(food2.jpg);
}

main {
    width: 350px;
    padding: 50px;
    border-radius: 10px;
    border: 2px solid white;
    background-color: transparent;
    backdrop-filter: blur(25px);
    position: relative;
}

main header {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: white;
    border-radius: 0 0 10px 10px;
}

form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.form_wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

input[type="text"],
input[type="password"] {
    padding: 10px;
    border: 2px solid white;
    border-radius: 25px;
    outline: none;
    background-color: transparent;
    color: white;
    transition: border-color 0.3s ease;
}

label {
    position: absolute;
    left: 16px;
    font-size: 14px;
    color: white;
    transition: .2s;
}

i {
    position: absolute;
    right: 16px;
    color: white;
    font-size: 20px !important;
}

.remember_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
}

.remember {
    display: flex;
    align-items: center;
    gap: 5px;
    color: white;
}

a {
    color: white;
}

.text button {
    border: none;
    padding: 10px;
    border-radius: 25px;
    color: skyblue;
}

button:hover {
    color: blue;
    font-size: 20px;
}

input:valid+label,
input:valid+label {
    background-color: white;
    color: black;
    transform: translate(12px, -18px);
    padding: 2px 5px;
    font-size: 10px;
}

.signup-btn {
    margin-top: 15px;
}

.signup-btn p {
    color: white;
}

.error-toast {
    background-color: #dc3545;
    color: white;
    border-radius: 10px;
}

.toast {
    position: fixed;
    top: 0;
    right: 0;
    margin: 1rem;
}